__pycache__/
__pycache__/Bayesian_pdf.cpython-36.pyc
__pycache__/FeedForwardNN.cpython-36.pyc
__pycache__/Hamiltonian_MC.cpython-36.pyc
__pycache__/Neural_Network.cpython-36.pyc
__pycache__/Toy_Datasets.cpython-36.pyc
